<div class="col-md-6">
  <%= render 'refuges/analysis_tab/needs_per_category' %>
  <%= render 'refuges/analysis_tab/needs_history' %>
</div>
<div class="col-md-6">
  <%= render 'refuges/analysis_tab/needs' %>
  <%= render 'refuges/analysis_tab/observations', refuge: refuge %>
</div>