<div id='refuges-map'>
  <div id="multi_markers"></div>
</div>

<% content_for :javascript_tags do %>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCVYZQCwE8B-r7ORDi49Hzum8vXKyoLl4k&callback=initMap&libraries=places" async defer></script>
  <script type="text/javascript">
    function initMap(){
      loadMapWithLocations(<%= raw Refuge.all.map{ |x| [x.name, x.latitude, x.longitude] } %>);
    }
  </script>
<% end %>