<div class="panel">
  <div class="panel-heading">
    <h3 class="panel-title"><%= t "refuges.abilities" %></h3>
    <hr>
  </div>
  <div class="panel-body">
    <% if refuge.committees.empty? %>
      <%= t "refuges.no_committees" %>
    <% else %>
      <table>
        <% refuge.committees.each do |committee| %>
          <tr>
            <td class="td-padding-right"><i class="circle-green"></i></td>
            <td><b><%= committee.name %></b></td>
          </tr>
        <% end %>
      </table>
    <% end %>
  </div>
</div>