<!-- /* 

=========================================================================== 
Koru GPL Source Code 
Copyright (C) 2017 Tekton Labs
This file is part of the Koru GPL Source Code.
Koru Source Code is free software: you can redistribute it and/or modify 
it under the terms of the GNU General Public License as published by 
the Free Software Foundation, either version 3 of the License, or 
(at your option) any later version. 

Koru Source Code is distributed in the hope that it will be useful, 
but WITHOUT ANY WARRANTY; without even the implied warranty of 
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the 
GNU General Public License for more details. 

You should have received a copy of the GNU General Public License 
along with Koru Source Code. If not, see <http://www.gnu.org/licenses/>. 
=========================================================================== 

*/ -->

<div class="panel">
  <div class="panel-heading">
    <h3 class="panel-title"><%= t "refuges.food_and_drinks" %></h3>
    <hr>
  </div>
  <div id="food-management-partial" class="panel-body">
    <table>
      <% food_management_all.each do |food| %>
        <tr>
          <td class="td-padding-right"><span class="<%= refuge.assign_style_class food %>"></span></td>
          <td><%= food.name %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>