<div class="panel">
  <div class="panel-heading">
    <h3 class="panel-title"><%= t "refuges.stool" %></h3>
    <hr>
  </div>
  <div class="panel-body">
    <table>
      <% stool_management_all.each do |stool| %>
        <tr>
          <td class="td-padding-right"><span class="<%= refuge.assign_style_class stool %>"></span></td>
          <td><%= stool.name %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>