<p><b>Hola!</b></p>

<p>
  Muchas gracias por tu ayuda!<br>
  Has asignado <%= "\"#{@need_name}\"" %> y la cumplirás <%= @date %>
</p>

<div style="text-align: center; margin-top: 10px;">
  <%= image_tag image_url("logo-mailer.png", width: "200") %>
</div>