<div class="ui centered grid container">
  <div class="row"></div>
  <div id="steps-container" class="ui text container">
    <div class="ui ordered steps">
      <div class="active step" id="step-organization">
        <div class="content">
          <div class="title">DATOS DE LA ORGANIZACIÓN</div>
          <div class="description"></div>
        </div>
      </div>
      <div class="disabled step" id="step-engagement">
        <div class="content">
          <div class="title">TIEMPO DE COMPROMISO</div>
          <div class="description"></div>
        </div>
      </div>
      <div class="disabled step" id="step-person">
        <div class="content">
          <div class="title">DETALLES DE PERSONA</div>
          <div class="description"></div>
        </div>
      </div>
    </div>
    <div class="row"></div>
    <div class="row"></div>
    <div id="organization-container">
      <div class="ui center aligned segment container panel-margin">
        <%= render "assign_header", need: @need %>
        <hr><br>
        <form class="ui form">
          <div class="col-md-1"></div>
          <div class="col-md-10">
            <div class="field">
              <label class="pull-left">Organización responsable</label>
              <div class="ui input">
                <input type="text">
              </div>
            </div>
            <div class="field">
              <label class="pull-left">Responsabilidades</label>
              <textarea rows="3"></textarea>
            </div>
          </div>
          <div class="col-md-1"></div>
        </form>
      </div>
      <div class="actions">
        <button class="btn btn-primary pull-center next1">Next</button>
      </div>
    </div>
    <div id="engagement-container">
      <div class="ui center aligned segment container panel-margin">
        <%= render "assign_header", need: @need %>
        <hr><br>
        <form class="ui form">
          <div class="col-md-1"></div>
          <div class="col-md-10">
            <label class="header-text">Tiempo del compromiso</label>
            <div class="fields">
              <div class="three wide field">
                <input type="text" name="start_date" placeholder="Fecha inicial">
              </div>
              <div class="three wide field">
                <input type="text" name="end_date" placeholder="Fecha final">
              </div>
            </div>
            <div class="field">
              <div class="ui checkbox pull-left">
                <input type="checkbox" tabindex="0" class="hidden">
                <label>Solo una vez</label>
              </div>
              <div class="three wide field">
                <input type="text" name="lonely_date" placeholder="Fecha única">
              </div>
            </div>
          </div>
          <div class="col-md-1"></div>
        </form>
      </div>
      <div class="actions">
        <button class="btn btn-secondary prev1">Previous</button>
        <button class="btn btn-primary next2">Next</button>
      </div>
    </div>
    <div id="person-container">
      <div class="ui center aligned segment container panel-margin">
        <%= render "assign_header", need: @need %>
        <hr><br>
        <form class="ui form">
          <div class="col-md-1"></div>
          <div class="col-md-10">
            <div class="field">
              <label class="pull-left">Persona responsable</label>
              <input type="text" placeholder="Ingrese nombres y apellidos">
            </div>
            <div class="field">
              <label class="pull-left">Celular</label>
              <input type="text" placeholder="Celular">
            </div>
            <div class="field">
              <label class="pull-left">Correo electrónico</label>
              <input type="text" placeholder="Ingrese correo electrónico">
            </div>
          </div>
          <div class="col-md-1"></div>
        </form>
      </div>
      <div class="actions">
        <button class="btn btn-secondary prev2">Previous</button>
        <button class="btn btn-primary submit">Submit</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $('.ui.checkbox').checkbox();
  $(document).ready(function() {
    var ct = 0;
    $('.next1').on('click', function(e) {
      e.preventDefault();
      $('#organization-container').animate('slow', function() {
        if (ct > 0) {
          $('#organization-container').removeClass('transition visible');
          $('#organization-container').addClass('transition hidden');
        }
        $('#organization-container').css('display', 'none');
        $('#step-organization').removeClass('active');
        $('#step-organization').addClass('completed');
        $('#step-engagement').removeClass('disabled');
        $('#step-engagement').addClass('active');
        $("#engagement-container").transition('fly right');
         ct++;
      });
    });

    $('.prev1').on('click', function(e) {
      e.preventDefault();
      $('#step-organization').removeClass('completed');
      $('#step-organization').addClass('active');
      $('#step-engagement').removeClass('active');
      $('#step-engagement').addClass('disabled');
      $('#engagement-container').animate('slow', function() {
        $('#engagement-container').transition('hide');
        $("#organization-container").transition('fly right');
      });
    });

    $('.next2').on('click', function(m) {
      m.preventDefault();
      $('#step-engagement').removeClass('active');
      $('#step-engagement').addClass('completed');
      $('#step-person').removeClass('disabled');
      $('#step-person').addClass('active');
      $('#engagement-container').animate('slow', function() {
        $('#engagement-container').transition('hide');
        $('#person-container').transition('fly right');
      });
    });

    $('.prev2').on('click', function(m) {
      m.preventDefault();
      $('#step-engagement').removeClass('completed');
      $('#step-engagement').addClass('active');
      $('#step-person').removeClass('active');
      $('#step-person').addClass('disabled');
      $('#person-container').animate('slow', function() {
        $('#person-container').transition('hide');
        $('#engagement-container').transition('fly right');
      });
    });

    $('.submit').on('click', function(p) {
      p.preventDefault();
      $('#person-container').stop();
    });
  });
</script>