/*
 *= require_tree ./admin
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "semantic-ui";
@import "main";

#button-profile {
	padding-top: 12px;
}

#sidebar-nav {
	padding-top: 100px !important;
}

.principal-container {
	margin: 20px;
}