/*
 *= require_tree ./front
 *= require_self
 *= require bootstrap-datepicker3
 */

@import "font-awesome";
@import "bootstrap-sprockets";
@import "bootstrap";
@import "semantic-ui";
@import "main";

.footer {
  height: 10%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slimScrollDiv {
  height: 90% !important;
}