/*
 *= require_tree ./front
 *= require_self
 *= require bootstrap-datepicker3
 */

@import "font-awesome";
@import "bootstrap-sprockets";
@import "bootstrap";
@import "semantic-ui";
@import "main";

footer {
  background-color: #2B333E;
  position: fixed;
  bottom: 0;
  padding: 10px;
  width: 100%;
  display: flex;
}

.slimScrollDiv {
  height: 93% !important;
}