@import "colors";
@import "bootstrap";
@import "main";

.container {
  background-color: #fff;
}

.entity-header {
  background-color: #f3f5f8;
  text-align: center;
  vertical-align:top;
  padding: 1px 0px;
  height: 25px;
  & p {
    font-size: 16px;
    font-weight: bold;
  }
}

.page-break { 
  display:block;
  clear:both;
  page-break-after:always;
}

.question {
  margin: 3px 0px 3px 0px;
}

.answer {
  margin: 2px 0px;
}

.checkbox-options {
  margin: 0px 0px 12px 0px;
  height:8px
}

.pdf-text-size {
  font-size: 12px;
}