#refuges-map, #multi_markers {
  height: 100%;
  width: 100%;
}

.pac-container {
  z-index: 10000 !important;
}

.chart-doughnut {
  display: inline-block !important;
  vertical-align: middle;
  &.chart-doughnut-legend {
    ul{
      list-style-type: none;
      padding: 0;
    }
    li {
      span {
        display: inline-block;
        margin-right: 5px;
        height: 12px;
        width: 12px;
        border-radius: 50%;
      }
    }
  }
}

.selector-styles {
  top: 20% !important;
}

.chart-container {
  width: 100%;
  height: 100%;
}

.chart-element {
  display: block;
  margin-top: 15px;
}

@media (min-width: 648px) {
  .chart-container {
    display: flex;
    align-items: center;
  }
}