<div class="panel">
  <div class="panel-heading">
    <h3 class="panel-title">Needs</h3>
    <hr>
  </div>
  <div class="panel-body">
    <% if refuge.last_questionnaire.nil? %>
      No questionnaire has been registered
    <% else %>
      <% if refuge.last_questionnaire.needs.blank? %>
        No needs have been registered
      <% else %>
        <table>
          <% refuge.last_questionnaire.needs.each do |need| %>
            <tr>
              <td><i class="glyphicon glyphicon-remove-sign item-status danger"></i></td>
              <td><b><%= need.title %></b></td>
            </tr>
            <tr>
              <td></td>
              <td><p class="item-description"><%= need.description %></p></td>
            </tr>
          <% end %>
        </table>
      <% end %>
    <% end %>
  </div>
</div>