<div class="panel">
  <div class="panel-heading">
    <h3 class="panel-title">Categories</h3>
    <hr>
  </div>
  <div class="panel-body">
    <div style="width: 100%; height: 100%;">
      <%= doughnut :doughnut, @pie_size, @pie_data, true %>
    </div>
  </div>
</div>