<div class="panel">
  <div class="panel-heading">
    <h3 class="panel-title">Observations</h3>
    <hr>
  </div>
  <div class="panel-body">
    <div style="width: 100%; height: 100%;">
      <% if refuge.observation_responses.nil? %>
        No observations has been registered
      <% else %>
        <table>
          <% refuge.observation_responses.includes(question: :entity).each do |response| %>
            <tr>
              <td><i class="glyphicon glyphicon-record item-status <%= refuge_color(response.question.entity) %>"></i></td>
              <td><b><%= response.question.entity.name %></b></td>
            </tr>
            <tr>
              <td></td>
              <td><p class="item-description"><%= response.answer_responsed_text %></p></td>
            </tr>
          <% end %>
        </table>
      <% end %>
    </div>
  </div>
</div>