<div class="col-md-6">
  <%#= render 'front/refuges/analysis_tab/needs_per_category', refuge: refuge %>
  <%#= render 'front/refuges/analysis_tab/needs_history', refuge: refuge %>
  <%= render 'front/refuges/analysis_tab/needs', refuge: refuge %>
</div>
<div class="col-md-6">
  <%= render 'front/refuges/analysis_tab/observations', refuge: refuge %>
</div>