<div class="col-md-12">
  <div class="col-md-6">
    <%= render 'front/refuges/contact_tab/general', refuge: refuge %>
  </div>
  <div class="col-md-6">
    <%= render 'front/refuges/contact_tab/primary_contact', refuge: refuge %>
  </div>
</div>
<div class="col-md-12">
  <div class="col-md-6">
    <%= render 'front/refuges/contact_tab/directions', refuge: refuge %>
  </div>
  <div class="col-md-6">
    <%= render 'front/refuges/contact_tab/photos', refuge: refuge %>
  </div>
</div>