<div class="col-md-12">
  <div class="col-md-6">
    <%= render 'front/refuges/information_tab/abilities', refuge: refuge %>
  </div>
  <div class="col-md-6">
    <%= render 'front/refuges/information_tab/services', refuge: refuge %>
  </div>
</div>
<div class="col-md-12">
  <div class="col-md-6">
    <%= render 'front/refuges/information_tab/capacity', refuge: refuge %>
  </div>
  <div class="col-md-6">
    <%= render 'front/refuges/information_tab/infrastructure', refuge: refuge %>
  </div>
</div>