<div id='refuges-map'>
  <div id="multi_markers"></div>
</div>

<div id="googft-legend">
  <%= form_tag display_front_refuges_path, remote: true do %>
    <div class="ui checkbox">
      <%= check_box_tag :search_mode, false, false, onclick: "trigger_form()" %>
      <label>Search as I move the map</label>
    </div>
  <% end %>
</div>

<% content_for :javascript_tags do %>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCVYZQCwE8B-r7ORDi49Hzum8vXKyoLl4k&callback=initMap&libraries=places" async defer>
  </script>
  <script type="text/javascript">
    function initMap(){
      loadMapWithLocations(<%= raw refuges_map_data %>, "<%= params[:locale] %>");
    };
    $('.ui.checkbox').checkbox();
    function trigger_form() {
      if (document.getElementById('search_mode').checked) {
        console.log("checkeado :v");
      }
      else {
        console.log("no checkeado :c");
      }
    };
  </script>
<% end %>