<div id="detail-navbar" class="sidebar-scroll hide">
  <nav>
    <ul class="nav">
      <li><a href="#" class="active"><i class="glyphicon glyphicon-home"></i>Refugio <%= refuge.id %></a></li>
      <p>Detalles del Refugio</p>
      <p>Detalles del Refugio</p>
      <p>Detalles del Refugio</p>
      <p>Detalles del Refugio</p>
      <p>Detalles del Refugio</p>
      <p>Detalles del Refugio</p>
      <p>Detalles del Refugio</p>
      <p>Detalles del Refugio</p>
    </ul>
  </nav>
</div>