<div id="detail-navbar" class="sidebar-scroll hide">
  <nav>
    <ul class="nav">
      <li>
        <%= link_to root_path, class: "active", remote: true do %>
          <table>
            <tr>
              <td rowspan="2"><i class="glyphicon glyphicon-certificate <%= refuge_class_status(refuge) %>"></i></td>
              <td><%= refuge.name %></td>
            </tr>
            <tr>
              <td><h6><%= "#{refuge.city}, #{refuge.country.name}" %></h6></td>
            </tr>
          </table>
        <% end %>
      </li>
      <ul>
        <li>Detalle 1</li>
        <li>Detalle 2</li>
        <li>Detalle 3</li>
        <li>Detalle 4</li>
        <li>Detalle 5</li>
      </ul>
    </ul>
  </nav>
</div>