<nav class="navbar navbar-default navbar-fixed-top">
  <div class="brand">
    <%= link_to root_path do %>
      <%= image_tag "logo-dark.png", alt: "RefugiosApp Logo", class: "img-responsive logo" %>
    <% end %>
  </div>
  <div class="container-fluid">
    <div class="navbar-btn">
      <button type="button" class="btn-toggle-fullwidth"><i class="glyphicon glyphicon-circle-arrow-left"></i></button>
    </div>
    <div class="navbar-form navbar-left">
      <div class="input-group">
        <div class="input-group-btn">
          <select id="select-search-mode" class="form-control">
            <option value="locations" selected="">Locations</option>
            <option value="refuges">Refuges</option>
          </select>
        </div>
        <input type="text" id="input-search-by-location" class="form-control" placeholder="Search by locations">
        <div id="input-search-by-refuge" class="hide">
          <input class="typeahead form-control" type="text" placeholder="Search by refuges">
        </div>
        <span class="input-group-btn"><button type="button" id="search-button" class="btn btn-primary">Go</button></span>
      </div>
    </div>
  </div>
</nav>

<script type="text/javascript">
  $("#select-search-mode").on("change", function(){
    if ($('#select-search-mode option:selected').val() == "locations"){
      $("#input-search-by-location").removeClass("hide");
      $("#input-search-by-refuge").addClass("hide");
    }
    else{
      $(".results").addClass("hide");
      $("#input-search-by-location").addClass("hide");
      $("#input-search-by-refuge").removeClass("hide");
    }
  });
  var refugesSource = new Bloodhound({
    datumTokenizer: Bloodhound.tokenizers.obj.whitespace('value'),
    queryTokenizer: Bloodhound.tokenizers.whitespace,
    remote: {
      url: "<%= ENV['HOST'] %>" + "<%= ENV['RELATIVE_URL_ROOT'] %>" + "/api/v1/refuges?query=%QUERY&limit=30&type=typeahead",
      wildcard: '%QUERY'
    }
  });
  $('#input-search-by-refuge .typeahead').typeahead(null, {
    limit: 1000,
    name: 'refuges',
    display: 'name',
    source: refugesSource,
    templates: {
      empty: ['<h4 style="padding: 0 15px 0 15px;">', 'No refuges found.', '</h4>'].join('\n'),
      suggestion: function(data) {
        return ['<div>', '<h4>' + data.name + '</h4>', '<h5>' + data.full_address + '</h5>', '</div>'].join('\n');
      },
    }
  });
  $('.typeahead').bind('typeahead:select', function(ev, suggestion) {
    show_on_map(suggestion);
  });
</script>
