<nav class="navbar navbar-default navbar-fixed-top">
  <div class="brand">
    <%= link_to root_path do %>
      <%= image_tag "logo-dark.png", alt: "RefugiosApp Logo", class: "img-responsive logo" %>
    <% end %>
  </div>
  <div class="container-fluid">
    <div class="navbar-btn">
      <button type="button" class="btn-toggle-fullwidth"><i class="glyphicon glyphicon-circle-arrow-left"></i></button>
    </div>
    <div class="navbar-form navbar-left">
      <div class="input-group">
        <div class="input-group-btn">
          <select id="select-search-mode" class="form-control">
            <option value="locations" selected="">Locations</option>
            <option value="refuges">Refuges</option>
          </select>
        </div>
        <input type="text" id="input-search-by-location" class="form-control" placeholder="Search location ...">
        <input type="text" id="input-search-by-refuge" class="form-control hide" placeholder="Search refuge ...">
        <span class="input-group-btn"><button type="button" id="search-button" class="btn btn-primary">Go</button></span>
      </div>
    </div>
  </div>
</nav>

<script type="text/javascript">
  $("#select-search-mode").on("change", function(){
    if ($('#select-search-mode option:selected').val() == "locations"){
      $("#input-search-by-location").removeClass("hide");
      $("#input-search-by-refuge").addClass("hide");
    }
    else{
      $("#input-search-by-location").addClass("hide");
      $("#input-search-by-refuge").removeClass("hide");
    }
  });
</script>