<nav class="navbar navbar-default navbar-fixed-top">
  <div class="brand">
    <%= link_to root_path do %>
      <%= image_tag "logo-dark.png", alt: "RefugiosApp Logo", class: "img-responsive logo" %>
    <% end %>
  </div>
  <div class="container-fluid">
    <div class="navbar-btn">
      <button type="button" class="btn-toggle-fullwidth"><i class="glyphicon glyphicon-circle-arrow-left"></i></button>
    </div>
    <div class="navbar-form navbar-left">
      <div class="input-group">
        <input type="text" value="" id="input-search" class="form-control" placeholder="Search dashboard...">
        <span class="input-group-btn"><button type="button" id="search-button" class="btn btn-primary">Go</button></span>
      </div>
    <div class="pull-right">
      <%= link_to "Download mobile app", "https://drive.google.com/file/d/0BxvdRDUIuATDaUxTbjc0YVNhTGc/view?usp=sharing", class: "btn btn-primary", target: "_blank", style: "margin-left: 300%;" %>
    </div>
    </div>
  </div>
</nav>