<div id="list-refuges-bar" class="sidebar-scroll">
  <nav>
    <ul class="nav">
      <% refuges_all.each do |refuge| %>
        <li><%= link_to refuge.name, { action: "detail", id: refuge.id }, method: :get, remote: true %></li>
      <% end %>
    </ul>
  </nav>
</div>
